@navbar-height: 100px;

@back: linear-gradient(45deg, #9164ff, #7e5bff, #7f66ff);

.page-error-layout {
  background: linear-gradient(180deg, #ffffff, #fcfbff, lighten(#2100df, 50%));
  min-height: 100vh;
  height: 100%;

  @media @small-screen, @mobile-screen, @tablet-screen {
    > .container {
      flex-direction: column-reverse !important;
      gap: 3rem;
    }

    .error-content {
      text-align: center;
    }

    .error-image {
      .ant-image {
        width: 30rem !important;
      }
    }
  }

  .error-content {
    width: 100%;

    .error-code {
      font-family: cursive;
      font-size: 7.5rem;
      color: var(--error-color);
    }

    .error-subtitle {
      font-size: 2.5rem;
      margin-top: -1rem;
    }

    // .error-message {
    //   font-size: 1rem;
    // }
  }

  .error-image {
    width: 100%;
    text-align: center;

    img[alt="blob-shape"] {
      .container-absolute();
      width: auto;
      opacity: 0.1;
    }
  }
}

.main-nav-bar-affix-container {
  .ant-affix {
    background-color: #ece6ff;
    box-shadow: 0px 0px 11px 0px #d7d7d7;
    height: @navbar-height - 20px !important;

    .main-nav-bar {
      color: inherit;
      height: @navbar-height - 20px;

      .ant-image {
        width: 7rem !important;
      }
    }
  }

  .main-nav-bar {
    background-color: transparent;
    border: none;
    justify-content: flex-end;
    align-items: center;
    color: #fff;

    > li {
      text-transform: uppercase;
      font-weight: 600;

      &::after {
        border-bottom: none !important;
      }

      //logo
      &:first-child {
        margin-right: auto;
        padding: 0 !important;
      }

      // login button
      button {
        height: auto;
        padding: 5px 16px;
      }
    }
  }
}

.home-layout {
  @media @small-screen, @mobile-screen, @tablet-screen {
    margin-top: 4rem;
  }

  .landing-intro {
    height: 100%;
    min-height: calc(
      100vh - @navbar-height - 84px - 20px
    ); // 84px - shape divider, 20px extra space

    > .container {
      flex-direction: row-reverse;
      gap: 3rem;

      @media @small-screen, @mobile-screen, @tablet-screen {
        .landing-message {
          width: calc(100vw / 1.2);
          text-align: center;
        }
      }
    }

    // animated map scene
    // div[aria-label="animation"] {
    //   width: 85% !important;

    //   @media @small-screen, @mobile-screen {
    //     width: 100% !important;
    //   }
    // }

    .landing-message {
      .welcome-heading {
        font-family: cursive;
        text-transform: uppercase;
        color: #fff;
      }

      .welcome-tagline {
        // font-family: "Nunito Sans";
        font-size: 1rem;
        // font-weight: normal;
        line-height: 1.5rem;
        letter-spacing: 2px;
        color: #e2d9ff;
      }

      .register-btn {
        height: 3.5rem;
        font-size: 1.3rem;
        width: 15rem;
        // .glowy-button(var(--ant-primary-6));
      }
    }
  }

  .shape-divider {
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 84px;
    }

    .shape-fill {
      fill: @fore-color;
    }
  }

  .landing-content {
    position: relative;
    background-color: @fore-color;

    p {
      font-family: auto;
      font-size: 1.5rem;
      line-height: 40px;
    }

    .catch-content {
      flex-direction: column;
      height: 30rem;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.2;
        background-size: 40rem;
        background-image: url("../images/shapes/shape-1.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .blob-img {
      position: absolute;
      opacity: 0.2;

      &:nth-of-type(1) {
        right: 0;
        top: 35%;
      }

      &:nth-of-type(2) {
        left: 0;
        bottom: 15%;
      }

      &:nth-of-type(3) {
        right: 0;
        bottom: -2%;
      }

      @media @small-screen, @mobile-screen, @tablet-screen {
        display: none;
      }
    }

    .service-content {
      display: flex;
      align-items: center;

      @media @small-screen, @mobile-screen, @tablet-screen {
        gap: 1rem;
      }

      &:nth-of-type(odd) {
        justify-content: flex-start;
        text-align: right;

        @media @small-screen, @mobile-screen, @tablet-screen {
          flex-direction: column !important;

          > article {
            text-align: center;

            > .service-title {
              flex-direction: row-reverse !important;
            }
          }
        }
      }

      &:nth-of-type(even) {
        justify-content: flex-end;
        text-align: left;

        @media @small-screen, @mobile-screen, @tablet-screen {
          flex-direction: column-reverse !important;

          > article {
            text-align: center;
          }
        }
      }
    }
  }
}

.landing-footer {
  display: flex;
  background: #0a1535;
  padding: 10px 0;

  section {
    justify-content: space-between;

    > *,
    a:not(:hover) {
      color: #fff;
    }
  }
}

.faq-layout {
  height: 100%;

  .faq-content {
    height: 100%;
    background-color: @fore-color;
  }
}

.auth-layout {
  display: flex;
  flex-direction: row;
  min-height: 100%;

  @form-width: 600px;
  @background: linear-gradient(45deg, #9164ff, #601ffe, #3a68eb);

  .auth-content {
    background-color: #fff;
    width: 100%;

    > .container {
      max-width: @form-width;
      width: 100%;

      .auth-form {
        .ant-input-affix-wrapper {
          // field icon
          .ant-input-prefix {
            font-size: 1.5rem;

            > img {
              width: 1.8rem;
            }
          }

          .ant-input-password-icon {
            font-size: 1.5rem;
          }
        }

        .save-btn {
          width: calc(@form-width / 2);
          .multi-gradient-button(linear-gradient(45deg, #5db9c7, #00ddff, #9666ff));

          &:hover {
            box-shadow: 0px 1px 15px 0 lighten(#3a68eb, 5%);
          }
        }
      }
    }
  }

  .auth-image {
    // background-color: #552eff;
    // background: linear-gradient(140deg, #4801f3, #7f4aff, #4801f3);
    position: relative;
    @color: #4801f3;
    background: @background;
    width: 100%;
    overflow: hidden;

    @media @small-screen, @mobile-screen {
      display: none;
    }
  }
}

.vendors-list-layout {
  // .vendors-list-header {
  // }

  .vendors-list-content {
    background-color: @fore-color;

    .ant-card.vendors-list-filters {
      .card-glow(#6252f1);
    }

    .vendors-list {
      position: relative;

      .vendors-list-item {
        .ant-card {
          min-height: 25rem;

          .ant-card-body {
            background-color: #7667ff;
            padding: 1rem 0 0;
          }
        }

        .shape-divider {
          background-color: #fff;
          overflow: hidden;

          svg {
            width: 100%;
            height: 25px;
          }

          .shape-fill {
            fill: #7667ff;

            &:nth-child(2) {
              fill: #24b1c6;
            }

            &:nth-child(1) {
              fill: #9443ff;
            }
          }
        }

        .vendor-item-content {
          background-color: #fff;
          padding-bottom: 1rem;

          .vendor-item-description {
            // width: calc(100% / 1.2);
            // margin: auto;
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
