@navbar-height: 100px;

.page-error-layout {
  background: linear-gradient(180deg, #ffffff, #fcfbff, lighten(#5500df, 50%));
  min-height: 100vh;
  height: 100%;

  @media @small-screen, @mobile-screen, @tablet-screen {
    > .container {
      flex-direction: column-reverse !important;
      gap: 3rem;
    }

    .error-content {
      text-align: center;
    }

    .error-image {
      .ant-image {
        width: 30rem !important;
      }
    }
  }

  .error-content {
    width: 100%;

    .error-code {
      font-family: cursive;
      font-size: 7.5rem;
      color: var(--error-color);
    }

    .error-subtitle {
      font-size: 2.5rem;
      margin-top: -1rem;
    }

    // .error-message {
    //   font-size: 1rem;
    // }
  }

  .error-image {
    width: 100%;
    text-align: center;

    img[alt="blob-shape"] {
      .container-absolute();
      width: auto;
      opacity: 0.1;
    }
  }
}

.main-nav-bar-affix-container {
  .ant-affix {
    background-color: #efecff;
    // background: linear-gradient(180deg, #fff, #ccceff);
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%);
    height: @navbar-height - 20px !important;

    .main-nav-bar {
      height: @navbar-height - 20px;

      a:not(:hover) {
        color: #5f00b5;
      }

      .ant-image {
        width: 7rem !important;
      }

      button {
        .glowy-button(#fff);
      }
    }
  }

  .main-nav-bar {
    background-color: transparent;
    border: none;
    justify-content: flex-end;
    align-items: center;
    color: white;

    > li {
      text-transform: uppercase;
      font-weight: bold;

      a {
        color: white;
      }

      &::after {
        border-bottom: none !important;
      }

      //logo
      &:first-child {
        margin-right: auto;
        padding: 0 !important;
      }

      // login/register button
      button {
        height: auto;
        padding: 5px 16px;
        .glowy-button(var(--ant-primary-6));
      }
    }
  }
}

.home-layout {
  @media @small-screen, @mobile-screen, @tablet-screen {
    margin-top: 4rem;
  }

  .landing-intro {
    height: 100%;
    min-height: calc(
      100vh - @navbar-height - 84px - 20px
    ); // 84px - shape divider, 20px extra space

    > .container {
      flex-direction: row-reverse;

      @media @small-screen, @mobile-screen, @tablet-screen {
        gap: 3rem;

        .landing-message {
          max-width: 80%;
          text-align: center;
        }
      }
    }

    // animated map scene
    div[aria-label="animation"] {
      width: 85% !important;

      @media @small-screen, @mobile-screen {
        width: 100% !important;
      }
    }

    .landing-message {
      max-width: 55%;

      .welcome-heading {
        font-family: "Lato";
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.5rem;
        text-transform: uppercase;
        color: white;
      }

      .welcome-tagline {
        font-family: "Nunito Sans";
        font-size: 1.1rem;
        font-weight: normal;
        letter-spacing: 2px;
        color: #e2d9ff;
      }

      .register-btn {
        height: 3.5rem;
        font-size: 1.3rem;
        line-height: 1rem;
        width: 15rem;
        .glowy-button(var(--ant-primary-6));
      }
    }
  }

  .shape-divider {
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 84px;
    }

    .shape-fill {
      fill: #fefcff;
    }
  }

  .landing-content {
    position: relative;
    background-color: #fefcff;

    .catch-content {
      flex-direction: column;
      height: 30rem;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.2;
        background-size: 40rem;
        background-image: url("../images/shapes/shape-1.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      p {
        font-size: 1.5rem;
      }
    }

    .blob-img {
      position: absolute;
      opacity: 0.2;

      &:nth-of-type(1) {
        right: 0;
        top: 35%;
      }

      &:nth-of-type(2) {
        left: 0;
        bottom: 15%;
      }

      &:nth-of-type(3) {
        right: 0;
        bottom: -2%;
      }

      @media @small-screen, @mobile-screen, @tablet-screen {
        display: none;
      }
    }

    .service-content {
      display: flex;
      align-items: center;
      gap: 5rem;

      @media @small-screen, @mobile-screen, @tablet-screen {
        gap: 1rem;
      }

      &:nth-of-type(odd) {
        justify-content: flex-start;
        text-align: right;

        @media @small-screen, @mobile-screen, @tablet-screen {
          flex-direction: column !important;

          > article {
            text-align: center;

            > .service-title {
              flex-direction: row-reverse !important;
            }
          }
        }
      }

      &:nth-of-type(even) {
        justify-content: flex-end;
        text-align: left;

        @media @small-screen, @mobile-screen, @tablet-screen {
          flex-direction: column-reverse !important;

          > article {
            text-align: center;
          }
        }
      }

      > .ant-image {
        width: 100% !important;
        z-index: 2;

        @media @small-screen, @mobile-screen, @tablet-screen {
          width: 50% !important;
        }
      }

      > article {
        width: 100%;

        p {
          font-family: initial;
          font-size: 1.8rem;
        }
      }
    }
  }

  .landing-footer {
    // background: linear-gradient(180deg, #fff, #e2dfec 81%, #e1dfec);
    background: #0a1535;
    padding: 10px 0;

    section {
      justify-content: space-between;

      > *,
      a:not(:hover) {
        color: white;
      }
    }
  }
}

.login-layout {
  display: flex;

  .login-content {
    background-color: #fff;
    width: 100%;
    height: 100vh;

    > .container {
      width: 50%;
      height: 80%;
    }
  }

  .login-image {
    // background-color: #552eff;
    // background: linear-gradient(140deg, #4801f3, #7f4aff, #4801f3);
    @color: #4801f3;
    background: linear-gradient(
      315deg,
      lighten(@color, 12%),
      lighten(@color, 8%),
      lighten(@color, 15%)
    );
    width: 100%;
    height: 100vh;
  }
}
