$navbar-height: 100px;

//#region home screens
.main-nav-bar-affix-container {
  .ant-affix {
    background: linear-gradient(174deg, #9164ff, #7e5bff, #7f66ff);
    box-shadow: 1px 1px 10px 1px #9d85ff;
    height: auto !important;

    .main-nav-bar {
      height: $navbar-height - 20px;

      .ant-image {
        width: 7rem !important;
      }
    }
  }

  .main-nav-bar {
    border: none;
    align-items: center;
    max-width: calc($container-width + 20rem);

    > li {
      letter-spacing: 2px;
      text-transform: uppercase;

      &:not(.link-item):after {
        border-bottom: none !important;
      }

      &::after {
        transform: scaleX(0) !important;
        transition: transform 250ms ease-in-out !important;
      }

      &:not(:hover)::after {
        border-bottom-color: inherit !important;
      }

      &:hover::after {
        transform: scaleX(1) !important;
      }

      &.ant-menu-item-selected {
        font-weight: 600;
      }

      //logo
      &:first-child {
        margin-right: auto;
        padding: 0 !important;
      }

      // login/register button
      button {
        height: auto;
        padding: 5px 16px;
      }

      // dividers
      .ant-divider {
        border-color: #fff !important;
      }
    }
  }
}

.home-layout {
  @media #{$small-screen}, #{$mobile-screen}, #{$tablet-screen} {
    margin-top: 4rem;
  }

  .landing-intro {
    height: 100%;
    min-height: calc(
      100vh - $navbar-height - 84px - 20px
    ); // 84px - shape divider, 20px extra space

    > .container {
      flex-direction: row-reverse;
      gap: 3rem;

      @media #{$small-screen}, #{$mobile-screen}, #{$tablet-screen} {
        .landing-message {
          width: calc(100vw / 1.2);
          text-align: center;
        }
      }
    }

    // animated map scene
    // div[aria-label="animation"] {
    //   width: 85% !important;

    //   @media #{$small-screen}, #{$mobile-screen} {
    //     width: 100% !important;
    //   }
    // }

    .landing-message {
      .welcome-heading {
        font-family: cursive;
        text-transform: uppercase;
        color: #fff;
      }

      .welcome-tagline {
        // font-family: "Nunito Sans";
        font-size: 1rem;
        // font-weight: normal;
        line-height: 1.5rem;
        letter-spacing: 2px;
        color: #e2d9ff;
      }

      // .register-btn {
      //   height: 3.5rem;
      //   font-size: 1.3rem;
      //   width: 15rem;
      // }
    }
  }

  .shape-divider {
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 84px;
    }

    .shape-fill {
      fill: $fore-color;
    }
  }

  .landing-content {
    position: relative;
    background-color: $fore-color;

    p {
      font-family: auto;
      font-size: 1.5rem;
      line-height: 40px;
    }

    .catch-content {
      flex-direction: column;
      height: 30rem;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.2;
        background-size: 40rem;
        background-image: url("../images/shapes/shape-1.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .blob-img {
      position: absolute;
      opacity: 0.2;

      &:nth-of-type(1) {
        right: 0;
        top: 35%;
      }

      &:nth-of-type(2) {
        left: 0;
        bottom: 15%;
      }

      &:nth-of-type(3) {
        right: 0;
        bottom: -2%;
      }

      @media #{$small-screen}, #{$mobile-screen}, #{$tablet-screen} {
        display: none;
      }
    }

    .service-content {
      display: flex;
      align-items: center;

      @media #{$small-screen}, #{$mobile-screen}, #{$tablet-screen} {
        gap: 1rem;
      }

      &:nth-of-type(odd) {
        justify-content: flex-start;
        text-align: right;

        @media #{$small-screen}, #{$mobile-screen}, #{$tablet-screen} {
          flex-direction: column !important;

          > article {
            text-align: center;

            > .service-title {
              flex-direction: row-reverse !important;
            }
          }
        }
      }

      &:nth-of-type(even) {
        justify-content: flex-end;
        text-align: left;

        @media #{$small-screen}, #{$mobile-screen}, #{$tablet-screen} {
          flex-direction: column-reverse !important;

          > article {
            text-align: center;
          }
        }
      }
    }
  }
}

.landing-footer {
  background: #120f28;
  color: #a7a7a7;
  font-size: 14px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ant-divider {
    border-color: #1b1930;
    margin: 10px 0;
  }
}

.auth-layout {
  display: flex;
  flex-direction: row;
  min-height: 100%;

  $form-width: 600px;
  $background: linear-gradient(45deg, #9164ff, #601ffe, #3a68eb);

  .auth-content {
    background-color: #fff;
    width: 100%;

    > .container {
      max-width: $form-width;
      width: 100%;

      .auth-form {
        .ant-input-affix-wrapper {
          // field icon
          .ant-input-prefix {
            font-size: 1.5rem;

            > img {
              width: 1.8rem;
            }
          }

          .ant-input-password-icon {
            font-size: 1.5rem;
          }
        }

        .type-field {
          .ant-radio-button-wrapper:nth-child(2) {
            &.ant-radio-button-wrapper-checked::after {
              content: "Vendor";
              position: absolute;
              top: -12px;
              color: #453bcc;
              background: #e9e8ff;
              left: 35%;
              font-size: 11px;
              line-height: 16px;
              padding: 0 10px;
              font-weight: 600;
            }
          }
        }

        .save-btn {
          width: calc($form-width / 2);
          @include multi-gradient-button(
            linear-gradient(45deg, #5db9c7, #00ddff, #9666ff)
          );

          &:hover {
            box-shadow: 0px 1px 15px 0 lighten(#3a68eb, 5%);
          }
        }
      }
    }
  }

  .auth-image {
    position: relative;
    // background-color: #552eff;
    // background: linear-gradient(140deg, #4801f3, #7f4aff, #4801f3);
    background: $background;
    width: 100%;

    @media #{$small-screen}, #{$mobile-screen} {
      display: none;
    }
  }
}

.vendors-list-layout {
  .vendors-list-content {
    .ant-card.vendors-list-filters {
      @include card-glow(#5d4ee6);
    }
  }
}

.vendors-list {
  position: relative;

  .vendors-list-item {
    .ant-card {
      .ant-card-body {
        min-height: 28rem;
        padding: 0;

        .ant-avatar {
          border: 2px solid var(--color-primary);
        }

        .shape-divider {
          width: 100%;

          svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 22px;
          }

          .shape-fill {
            fill: lighten(#6252f1, 33%);
          }
        }

        .vendor-item-content {
          padding: 1rem;

          &:first-child {
            background-color: lighten(#6252f1, 33%);
          }

          .vendor-item-description {
            p {
              margin: 0;
            }
          }
        }
      }

      .ant-card-actions {
        li {
          margin: 0;

          &:first-child {
            width: 100% !important;
          }

          &:nth-child(2) {
            width: auto !important;
          }
        }
      }
    }

    &.selected {
      .ant-avatar {
        border: 2px solid darken(turquoise, 33%) !important;
        background-color: turquoise;
      }

      .shape-divider {
        .shape-fill {
          fill: lighten(turquoise, 33%) !important;
        }
      }

      .vendor-item-content {
        &:first-child {
          background-color: lighten(turquoise, 33%) !important;
        }
      }
    }
  }
}

.vendor-details-layout {
  background-color: $fore-color;
  min-height: 45rem;

  .vendor-details-content {
    .ant-tabs {
      .ant-tabs-content-holder {
        margin-top: 1rem;
      }
    }
  }
}
//#endregion

//#region error screens
.page-error-layout {
  background: linear-gradient(
    320deg,
    hsl(var(--error-color), 100%, 95%),
    hsl(var(--error-color), 100%, 100%),
    hsl(var(--error-color), 100%, 95%)
  );
  min-height: 100vh;
  height: 100%;

  @media #{$small-screen}, #{$mobile-screen}, #{$tablet-screen} {
    > .container {
      flex-direction: column-reverse !important;
      gap: 3rem;
    }

    .error-content {
      text-align: center;
    }
  }

  .error-content {
    width: 100%;

    .error-code {
      font-family: cursive;
      font-size: 7.5rem;
      color: hsl(var(--error-color), 100%, 40%);
    }

    .error-subtitle {
      font-size: 2.5rem;
      margin-top: -1rem;
    }
  }
}
//#endregion

//#region account screens
.account-summary-popover {
  .ant-popover-inner {
    padding: 0;
  }

  .ant-btn {
    text-align: left;
    height: 3rem;
  }
}

.account-layout {
  min-height: 100vh;
  $color-primary: #6252f1;

  .ant-layout-sider {
    height: 100%;
    max-height: 100vh;

    .ant-layout-sider-children {
      position: fixed;
      width: inherit;
    }

    .blob-img {
      position: absolute;
      opacity: 0.1;
      bottom: 0;
      left: -15rem;
    }
  }

  .host-nav-bar,
  .vendor-nav-bar {
    .ant-menu-item {
      margin: 0;
      width: 100%;
      border-radius: 0;

      &:first-child {
        height: auto;
        padding: 0 !important;

        &:hover {
          background-color: initial !important;
        }

        .ant-menu-title-content {
          display: none;
        }
      }

      &.user-item {
        display: flex;
        flex-direction: column;
        height: auto;

        &:hover {
          background-color: initial !important;
          cursor: default;
        }
      }

      &.link-item {
        height: 3rem;

        &.ant-menu-item-selected {
          box-shadow: 0px 0px 20px 0px #dfdfdf;
          background-color: transparent;
        }

        &:not(.ant-menu-item-selected) {
          svg {
            path {
              fill: #000;
            }
          }
        }
      }
    }

    &.ant-menu-inline-collapsed {
      .ant-menu-item {
        &.user-item {
          .ant-menu-title-content {
            display: none;
          }
        }
      }
    }
  }

  .host-dashboard-layout {
    .host-dashboard-header {
      padding: 1rem;
    }

    main {
      padding: 1rem;
    }

    .create-event-btn {
      width: 50%;
      height: 3rem;
    }

    .events-calendar {
      @media #{$small-screen}, #{$mobile-screen}, #{$tablet-screen} {
        .ant-card-grid {
          width: 100% !important;
        }
      }

      .ant-picker-calendar {
        .ant-picker-cell-inner {
          .ant-picker-calendar-date-content {
            position: absolute;
            top: 0;
            left: 0;
            background: #ff4d4f;
            color: #fff;
            padding: 0 3px;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .host-events-layout {
    .host-events-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 1rem;
      background-color: #fafafa;
    }

    .events-list {
      .events-list-item {
        .ant-card-body {
          @media #{$small-screen}, #{$mobile-screen}, #{$tablet-screen} {
            flex-wrap: wrap;
          }
        }
      }
    }
  }

  .event-create-layout {
    .event-create-header {
      padding: 24px;
      background-color: #fafafa;
      box-shadow: 0px 0px 10px 0px gainsboro;
    }

    .event-create-footer {
      position: sticky;
      bottom: 0;
      padding: 16px 24px;
      background-color: #fafafa;
      box-shadow: 0px 0px 10px 0px gainsboro;
      z-index: 10;
    }
  }

  .event-details-layout {
    .event-details-header {
      .header-info {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
        background: linear-gradient(45deg, #f3f2ff, transparent);
        width: 100%;
        padding: 1rem;
      }

      .banner-img,
      .banner-img > img {
        min-height: 100px;
        max-height: 400px;
      }

      .banner-img + .header-info {
        position: absolute;
        bottom: 0;
      }
    }

    .event-details-content {
      .event-basic-info {
        .ant-col {
          padding: 1rem;
          border: 1px solid #e6e6e6;
          border-left: 0;
        }
      }
    }
  }
}

//#endregion
