@import "./common.less";

.main-nav-bar {
  background-color: transparent;
  border: none;
  justify-content: flex-end;

  > li {
    &::after {
      border-bottom: none !important;
    }

    &:first-child {
      margin-right: auto;
      padding: 0 !important;
    }
  }
}

.home-layout {
  .landing-section {
    // .applyBackground("~/src/assets/images/back-1.jpg");
    // background-size: 100%;
    min-height: calc(100vh - 3rem - 45px);

    .welcome-section {
      margin-top: 10rem;
      text-align: center;

      .welcome-heading {
        font-family: "Andada Pro";
        font-size: 2rem;
        font-weight: 700;
      }

      .welcome-tagline {
        font-family: "Open Sans";
      }
    }
  }

  .info-services-section {
    .applyBackground("~/src/assets/images/info-back.svg");
    background-position: bottom;
    min-height: 100vh;
  }
}
