@import "~antd/dist/antd.less";

@small-screen: ~"only screen and (max-width: 350px)";
@mobile-screen: ~"only screen and (min-width: 350px) and (max-width: 768px)";
@tablet-screen: ~"only screen and (min-width: 768px) and (max-width: 1024px)";
@laptop-screen: ~"only screen and (min-width: 1024px) and (max-width: 1600px)";
@tv-screen: ~"only screen and (min-width: 1600px)";

:root {
  font-size: 16px;
  --container-width: 80rem;

  @media @small-screen, @mobile-screen {
    font-size: 10px;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Open Sans", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url("../images/back-2.jpg");
  background-repeat: no-repeat;
}

code {
  font-family: "Open Sans" source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

// antd overrides
.ant-layout {
  background: transparent;
}

@import "./fonts.less";
@import "./common.less";
@import "./app.less";
