@import "antd/dist/antd.variable.less";
@import "./fonts.less";

// colors
@highlight-color: #ffecbf;
@highlight-color-2: #c9f4cb;

// user types theme constants
@host-theme: #d7ad0d;
@vendor-theme: #eb5951;

// mobile screen sizes constants
@small-screen: ~"only screen and (max-width: 350px)";
@mobile-screen: ~"only screen and (min-width: 350px) and (max-width: 768px)";
@tablet-screen: ~"only screen and (min-width: 768px) and (max-width: 1024px)";
@laptop-screen: ~"only screen and (min-width: 1024px) and (max-width: 1600px)";
@tv-screen: ~"only screen and (min-width: 1600px)";

:root {
  font-size: 16px;
  --container-width: 90rem;

  @media @small-screen, @mobile-screen {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
  margin: 0;

  // for antd components
  @media @small-screen, @mobile-screen {
    font-size: 14px !important;
  }
}

body {
  font-family: "Lato", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("../images/back-4.jpg");
  background-repeat: no-repeat;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gainsboro;
  background: rgba(222, 222, 222, 0.75);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #2e0840;
// }

::-moz-selection {
  background: #552ab3;
}

::selection {
  background: #552ab3;
}

// antd overrides
.ant-layout {
  background: transparent;
}

.ant-back-top {
  font-size: 2.5rem;
  // color: #00c4b4;
  right: 2rem;
}

@import "./common.less";
@import "./app.less";
